@model ViewAssetsViewModel

@foreach(var asset in Model.Assets)
{
    <div>
        <h2>Asset Id: @asset.Id</h2>
        <h2>Asset Name: @asset.Name</h2>
        <a asp-controller="Asset" asp-action="AssetDetails" asp-route-id="@asset.Id">View Asset Details</a>
    </div>
}
