@model ImageAttribute

@section Styles {
    <link href="~/css/attributes/imageAttibute.css" />
}

<div id="addImageErrorMessage" class="errorMessage alert"></div>
<img id="newImage" width="400" class="newImage"/>
<input type="hidden" id="newImageId" />
<input type="file" accept=".png, .jpg, .jpeg, .tif, .tiff, .gif, .bmp" id="newImageUpload" />

@section Scripts {
    <script src="~/js/attributes/imageAttribute.js"></script>
}