@{
    ViewData["Title"] = "User Dashboard";
}

<link rel="stylesheet" href="~/css/dashboard.css" />
    <div class="container-fluid container-fluid-no-padding">
        <div class="row">
            <div class="col menu-bar">
                <!--This is the side menu which displays folders and options-->
                Menu bar
            </div>
            <div class="col main-content">
                <!--This is the main portion of the page, where the items will be displayed-->
                Main Content
            </div>
        </div>
    </div>
