@{
    @using VirtualWarehouse.Web.Models;
    ViewData["Title"] = "User Dashboard";
}

@model DashboardViewModel
<link rel="stylesheet" href="~/css/dashboard.css" />
<div class="container-fluid container-fluid-no-padding">
    <div class="row">
        <div class="col menu-bar">
            <!--This is the side menu which displays folders and options-->
            Menu bar
        </div>
        <div class="col main-content">
            <!--This is the main portion of the page, where the items will be displayed-->
            Main Content
            @if (Model.Things.Any())
            {
                @foreach (var thing in Model.Things)
                {
                    <div class="col-auto mb-3">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title"><a href=@Url.Action("ThingDetails", "Home", new { id = thing.ThingId })>@thing.ThingName @thing.ThingId</a></h5>
                            </div>
                        </div>
                    </div>
                }
            }
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#createThingModal">+</button>
        </div>
    </div>
</div>

<div class="modal fade" id="createThingModal" tabindex="-1" role="dialog" aria-labelledby="createThingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createThingModalLabel">Create New Thing</h5>
            </div>
            <form method="post" asp-action="CreateThing" asp-controller="Home">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newThingName">Name</label>
                        <input type="text" class="form-control" id="newThingName" name="name" placeholder="Enter Name" required>
                    </div> 
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
