@model ThingDetailsViewModel
@{
    @using VirtualWarehouse.Web.Models;
    ViewData["Title"] = Model.Thing.ThingName + " - Details";
}

<div class="container-fluid container-fluid-no-padding">
    <div class="row">
        <div class="col menu-bar">
            <!--This is the side menu which displays options for thing-->
            Menu bar
        </div>
        <div class="col main-content">
            <!--This is the main portion of the page, where the attributes will be displayed-->
            Main Content
            @if (Model.Thing.Attributes.Any())
            {
                @foreach (var attri in Model.Thing.Attributes)
                {
                    string partialName = "~/Views/AttributesPartial/" + attri.AttributeType + ".cshtml";
                    <div class="col-auto mb-3">
                        <div class="card" style="width: 20rem;">
                            <div class="card-body">
                                <h5 class="card-title">@attri.AttributeName</h5>
                                <partial name=@partialName for="@attri" />
                                
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
