@{
    @using VirtualWarehouse.Data.Models.Attributes;
}

@model Text

<form method="post" asp-action="CreateThingAttribute" asp-controller="Home">
    <div class="modal-body">
        <div class="form-group">
            <label for="newThingName">Name</label>
            <input type="text" class="form-control" id="newThingName" name="name" placeholder="Enter Name" required>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Create</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    </div>
</form>
